<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @category  German
 * @package   German_LocaleFallback
 * @authors   MaWoScha <mawoscha@siempro.co, http://www.siempro.co/>, Bastian Ike <b-ike@b-ike.de>
 * @developer MaWoScha <mawoscha@siempro.co, http://www.siempro.co/>, Bastian Ike <b-ike@b-ike.de>
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @source    http://www.magentocommerce.com/wiki/modules_reference/german/klassen
 * @source    http://www.alanstorm.com/magento_acl_authentication
 */
 -->
<config>
    <modules>
        <German_LocaleFallback>
            <version>0.4.5</version>
            <title>Locale Fallback</title>
            <link_git>https://github.com/MaWoScha/German_LocaleFallback</link_git>
        </German_LocaleFallback>
    </modules>

    <global>
        <blocks>
            <localefallback>
                <class>German_LocaleFallback_Block</class>
            </localefallback>
        </blocks>
        <helpers>
            <localefallback>
                <class>German_LocaleFallback_Helper</class>
            </localefallback>
        </helpers>
        <models>
            <localefallback>
                <class>German_LocaleFallback_Model</class>
            </localefallback>
            <core>
                <rewrite>
                	<!-- In den Tags steht das (Mage-)Modul, das ueberschrieben wird;
                	   zwischen den Tags steht die ueberschreibende Klasse.
                	   Hier: Mage_Core_Model_Language, ergibt Tag: language -->
                    <locale>German_LocaleFallback_Model_Locale</locale>
                    <translate>German_LocaleFallback_Model_Translate</translate>
                </rewrite>
            </core>
        </models>
        <template>
            <email>
                <design_email_support translate="label" module="core">
                    <label>Email - Support</label>
                    <file>html/support.html</file>
                    <type>text</type>
                </design_email_support>
            </email>
        </template>
    </global>

	<default>
		<localefallback>
			<extra_locales>
				<extra_locale_list>ar_YE,de_LU,en_BZ,en_GY,en_HK,en_IN,en_ZA,es_CU,fr_BE,fr_CH,fr_DZ,fr_GY,fr_LU,fr_PF,fr_SN,pt_MZ,ur_IN,ur_PK</extra_locale_list>
				<extra_fallback_list>ar,en,ur</extra_fallback_list>
			</extra_locales>
		</localefallback>
	</default>

    <adminhtml>
        <layout>
            <updates>
                <localefallback>
                    <file>localefallback.xml</file>
                </localefallback>
            </updates>
        </layout>
        <translate>
            <modules>
                <German_LocaleFallback>
                    <files>
                        <default>German_LocaleFallback.csv</default>
                    </files>
                </German_LocaleFallback>
            </modules>
        </translate>
        <events>
            <admin_system_config_changed_section_general>
                <observers>
                    <locale_fallback_observer>
                        <type>model</type>
                        <class>German_LocaleFallback_Model_Observer</class>
                        <method>compareLocales</method>
                    </locale_fallback_observer>
                </observers>
            </admin_system_config_changed_section_general>
        </events>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <localefallback translate="title" module="localefallback">
                                            <title>Locale Fallback</title>
                                        </localefallback>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

</config>